header {
    background-color: #f1f1f1;
    padding: 20px;
}

h1 {
    font-family: 'Arial', sans-serif;
    font-size: 70px;
    color: #4b3838;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-family: 'Racing Sans One', cursive;
    animation: bobbing 2s ease-in-out infinite;
    margin-top: 30px;
}

@keyframes bobbing {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
    100% {
      transform: translateY(0);
    }
  }
h1 span {
    color: burlywood;
}

.custom-main{
    background-image: url(project\ 1\ background.jpg);
    opacity: .5;
    height:600px;

}



  
#typeWriter{
    font-size: 40px;
    font-family: monospace;
    
}

#typeWriter::before{
    content: " | ";
}